In [1]:
import pandas as pd
from sqlalchemy import create_engine
from pathlib import Path

In [2]:
#import data
imdb_data = "../Resources/IMDB_data.csv"
imdb_df = pd.read_csv(imdb_data)
imdb_df.head()

,Poster_Link,Series_Title,Runtime_of_Series,Certificate,Runtime_of_Episodes,Genre,IMDB_Rating,Overview,Star1,Star2,Star3,Star4,No_of_Votes
0,https://m.media-amazon.com/images/M/MV5BYTRiND...,Game of Thrones,(2011–2019),A,57 min,"Action, Adventure, Drama",9.3,Nine noble families fight for control over the...,Emilia Clarke,Peter Dinklage,Kit Harington,Lena Headey,1773458
1,https://m.media-amazon.com/images/M/MV5BMjhiMz...,Breaking Bad,(2008–2013),18,49 min,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,Bryan Cranston,Aaron Paul,Anna Gunn,Betsy Brandt,1468887
2,https://m.media-amazon.com/images/M/MV5BMTc5Zm...,The Walking Dead,(2010– ),18+,44 min,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,Andrew Lincoln,Norman Reedus,Melissa McBride,Danai Gurira,854698
3,https://m.media-amazon.com/images/M/MV5BNDVkYj...,Friends,(1994–2004),13+,22 min,"Comedy, Romance",8.9,Follows the personal and professional lives of...,Jennifer Aniston,Courteney Cox,Lisa Kudrow,Matt LeBlanc,829816
4,https://m.media-amazon.com/images/M/MV5BMjEzMD...,Stranger Things,(2016– ),15,51 min,"Drama, Fantasy, Horror",8.7,"When a young boy disappears, his mother, a pol...",Millie Bobby Brown,Finn Wolfhard,Winona Ryder,David Harbour,824966

In [3]:
#find which columns have null values
imdb_df.loc[:, imdb_df.isnull().any()].columns

Index(['Certificate', 'Runtime_of_Episodes', 'Star3', 'Star4'], dtype='object')

In [4]:
#drop tables that we don't need or that have null values
imdb_df.drop(['Certificate', 'Poster_Link', 'Overview', 'Star1', 'Star2', 'Runtime_of_Episodes', 'Star3', 'Star4'], axis = 1, inplace = True)
imdb_df.head()

,Series_Title,Runtime_of_Series,Genre,IMDB_Rating,No_of_Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.3,1773458
1,Breaking Bad,(2008–2013),"Crime, Drama, Thriller",9.5,1468887
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",8.2,854698
3,Friends,(1994–2004),"Comedy, Romance",8.9,829816
4,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,824966

In [5]:
#import data
netflix_data = "../Resources/Netflix_data.csv"
netflix_df = pd.read_csv(netflix_data)
netflix_df.head()

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added,month_added,season_count
0,1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,0,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021.0,9.0,2
1,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,0,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2021.0,9.0,1
2,3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,0,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2021.0,9.0,1
3,4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,0,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021.0,9.0,2
4,5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,2021-09-24,2021,TV-MA,0,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,2021.0,9.0,1

In [6]:
#find columns with null values
netflix_df.loc[:, netflix_df.isnull().any()].columns

Index(['director', 'cast', 'country', 'date_added', 'rating', 'year_added',
       'month_added'],
      dtype='object')

In [7]:
netflix_df.drop(['director', 'cast', 'country', 'date_added', 'rating', 'year_added', 'month_added', 'show_id', 'duration', 'listed_in', 'description'], axis = 1, inplace = True)
netflix_df.head()

   Unnamed: 0     type                  title  release_year  season_count
0           1  TV Show          Blood & Water          2021             2
1           2  TV Show              Ganglands          2021             1
2           3  TV Show  Jailbirds New Orleans          2021             1
3           4  TV Show           Kota Factory          2021             2
4           5  TV Show          Midnight Mass          2021             1

In [8]:
#drop unnamed columns
netflix_df.drop(netflix_df.columns[0], axis=1, inplace=True)
netflix_df.head()

      type                  title  release_year  season_count
0  TV Show          Blood & Water          2021             2
1  TV Show              Ganglands          2021             1
2  TV Show  Jailbirds New Orleans          2021             1
3  TV Show           Kota Factory          2021             2
4  TV Show          Midnight Mass          2021             1

In [9]:
netflix_df.index.name = 'index'
imdb_df.index.name = 'index'

In [10]:
netflix_df.head()

          type                  title  release_year  season_count
index
0      TV Show          Blood & Water          2021             2
1      TV Show              Ganglands          2021             1
2      TV Show  Jailbirds New Orleans          2021             1
3      TV Show           Kota Factory          2021             2
4      TV Show          Midnight Mass          2021             1

In [11]:
imdb_df.head()

,Series_Title,Runtime_of_Series,Genre,IMDB_Rating,No_of_Votes
index,,,,,
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.3,1773458
1,Breaking Bad,(2008–2013),"Crime, Drama, Thriller",9.5,1468887
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",8.2,854698
3,Friends,(1994–2004),"Comedy, Romance",8.9,829816
4,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,824966

In [12]:
#creating a clean csv file
imdb_df.head()
filepath = Path("../Resources/IMDB_data_clean.csv")
filepath.parent.mkdir(parents=True, exist_ok=True) 
imdb_df.to_csv(filepath)

netflix_df.head()
filepath = Path("../Resources/Netflix_data_clean.csv")
filepath.parent.mkdir(parents=True, exist_ok=True) 
netflix_df.to_csv(filepath)

In [25]:
imdb_df["Series_Title"].value_counts()

The Twilight Zone               4
Whose Line Is It Anyway?        3
Teenage Mutant Ninja Turtles    3
Knight Rider                    2
Twin Peaks                      2
                               ..
Man vs. Wild                    1
Zoo                             1
United States of Tara           1
The Missing                     1
Comic Book Men                  1
Name: Series_Title, Length: 1956, dtype: int64

In [14]:
max = imdb_df.sort_values(by='IMDB_Rating', ascending=False)
max.head()

,Series_Title,Runtime_of_Series,Genre,IMDB_Rating,No_of_Votes
index,,,,,
1003,The Chosen,(2017– ),"Drama, History",9.7,13085
483,The Filthy Frank Show,(2011–2017),"Comedy, Fantasy, Music",9.5,32155
1,Breaking Bad,(2008–2013),"Crime, Drama, Thriller",9.5,1468887
844,Koombiyo,(2017–2018),"Crime, Drama, Thriller",9.5,16391
182,Scam 1992: The Harshad Mehta Story,(2020),"Biography, Crime, Drama",9.4,86565

In [21]:
imdb_df_dup_drop = max.drop_duplicates(subset=['Series_Title'], keep='first')

In [22]:
imdb_df_dup_drop["Series_Title"].value_counts()

The Chosen                            1
Law & Order: Criminal Intent          1
Dark Angel                            1
Two Guys, a Girl and a Pizza Place    1
Empire                                1
                                     ..
Boy Meets World                       1
Dead Like Me                          1
Criminal Minds                        1
Voltron: Legendary Defender           1
Iste Bu Benim Masalim                 1
Name: Series_Title, Length: 1956, dtype: int64

In [35]:
#creating a clean csv file
imdb_df_dup_drop.head()
filepath = Path("../Resources/imbd.csv")
filepath.parent.mkdir(parents=True, exist_ok=True) 
imdb_df_dup_drop.to_csv(filepath)

netflix_df.head()
filepath = Path("../Resources/netflix.csv")
filepath.parent.mkdir(parents=True, exist_ok=True) 
netflix_df.to_csv(filepath)